<!doctype html>
<head lang="en">
	<meta>
	<title>link#STUBBER</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
	<!-- Put in custom css file -->
	<link rel="stylesheet" href="custom.css">
	<!-- jQuery since bootstrap has a dependency -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<!-- include easyXDM for crossbrowser ajax requests -->
	<!--<script type="text/javascript" src="easyXDM.debug.js"></script>-->

</head>

<body>
	<div class="container main-stage">
		<div class="row">
			<div class="span6">
				<h3 class="text-center">link#STUBBER in action:</h3>
				<!-- THIS IS NOT A BROKEN LINK -->
				<a class="ls-outside-link btn btn-primary pull-right" href="http://asdfasafsafdasdfasdfasfasfasdfasfdaf.com">Hopefully broken link</a>
				<!-- THIS IS A BROKEN LINK -->
				<a class="ls-outside-link btn btn-primary" href="http://www.google.com">Working link to Google homepage</a>
			</div>
		</div>
	</div>

	<div id="container"></div>

	<!-- Link Stubber javascript -->
	<script src="linkstubber.js"></script>
</body>